
.gradient-text {
  background: linear-gradient(to right, #ff530a, #FF7418, #FFA328);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.nav-btn{
  @apply bg-white btn min-h-4 h-8 mx-1 border-none shadow-none;
  @apply hover:bg-gradient-to-r from-[#ff530a] from-20% via-[#FF7418] via-60% to-[#FFA328] to-95% hover:text-white
}
.active{
  @apply bg-gradient-to-r from-[#ff530a] from-20% via-[#FF7418] via-60% to-[#FFA328] to-95% text-white;
}
.nav-clickable{
  @apply hover:cursor-pointer transition-transform duration-75 overflow-hidden bg-gradient-to-r from-[#ff530a] via-[#FF7418] to-[#FFA328] border-2 border-transparent rounded-md px-4 py-2 text-white font-semibold shadow-md;
}
.event-btn{
  @apply hover:bg-gradient-to-r from-[#FFA328]  from-20% via-[#FF7418] via-50%  to-[#ff530a] to-95% hover:text-white;
}